<!DOCTYPE html>
<html>
  <head>
    <title>Bootcampwisdoms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>
     <header class ="row">
        <div class= "col-3">
            <%= link_to root_path, class: 'logo' do %>
                <div class = "circle">
                </div>
            <% end %>
        </div>
        <div class = "col col-sm-4 hidden-xs-down slogan">
            <b>Jewels picked up on this journey to Web Developer</b>
        </div>
     
        <div class = "col-3 offset-1 offset-sm-0 col-sm-5 links">
            <%= link_to 'About Wisdoms', about_path %>
        </div>
        
        
    </header>
    
    <hr  />
    
        <br class= "clear" />
    
   <div class ="container">
        <%= yield %>
   </div>
   
    
   <div class ="footer">
    <div class="container">
     <div class = "row">
        <div class="col-12 footer-blurb"><b>Quiz Lesson 1 created by Keara Harris</b</p>
     </div>
    </div>
   </div> 
   
   
   
  </body>
</html>
